<a href="https://colab.research.google.com/github/Akshithaaa11/NLP-excelr/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
url="http://quotes.toscrape.com/"
response=requests.get(url)
if response.status_code==200:
  soup=BeautifulSoup(response.text,"html.parser")
  quotes=soup.find_all("div",class_="quote")
  for i,quote in enumerate(quotes[:5]):
    text=quote.find("span",class_="text").text
    author=quote.find("small",class_="author").text
    tags=[tag.text for tag in quote.find_all("a",class_="tag")]
    print(f"{i+1}.Text:{text}")
    print(f"Author:{author}")
    print(f"Tags:{', '.join(tags)}\n")
else:
  print(f"Failed to retrive the webpage.Status Code:{response.status_code}")

1.Text:“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
Author:Albert Einstein
Tags:change, deep-thoughts, thinking, world

2.Text:“It is our choices, Harry, that show what we truly are, far more than our abilities.”
Author:J.K. Rowling
Tags:abilities, choices

3.Text:“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
Author:Albert Einstein
Tags:inspirational, life, live, miracle, miracles

4.Text:“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
Author:Jane Austen
Tags:aliteracy, books, classic, humor

5.Text:“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
Author:Marilyn Monroe
Tags:be-yourself, inspirational

In [2]:
import requests
from bs4 import BeautifulSoup
city="india/hyderabad"
url=f"https://www.timeanddate.com/weather/{city}"
response=requests.get(url)
soup=BeautifulSoup(response.text,"html.parser")
temp=soup.find("div",class_="h2").text.strip() if soup.find("div",class_="h2") else "N/A"
desc=soup.find("p").text.strip() if soup.find("p") else "N/A"
print(f"Current Weather in {city}: {temp} | {desc}")

Current Weather in india/hyderabad: 32 °C | Clear.

In [7]:
import requests
from bs4 import BeautifulSoup
search_url = "https://www.amazon.in/s?k=iphone&crid=PQVCJSNISAH4&sprefix=iphone%2Caps%2C233&ref=nb_sb_noss_2s"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
response = requests.get(search_url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")
product = soup.select_one("span.a-size-medium")
price = soup.select_one("span.a-price-whole")
if product and price:
    print(f"Product: {product.text.strip()}")
    print(f"Price: Rs. {price.text.strip()}")
else:
  print("Could not find product details.")

Could not find product details.

In [8]:
import requests
from bs4 import BeautifulSoup
url="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
response=requests.get(url,headers=headers)
soup=BeautifulSoup(response.text,"html.parser")
table=soup.find("table",class_="wikitable")
for row in table.find_all("tr")[1:6]:
  columns=row.find_all("td")
  country=columns[1].text.strip()
  population=columns[2].text.strip()
  print(f"{country}:{population}")

World:8,119,000,000
China:1,408,280,000
1,402,737,000:17.2%
United States:340,110,988
Indonesia:282,477,584

In [9]:
from IPython.display import display, HTML

In [10]:
display(HTML("""
<p style="font-family:verdana">This is a sample table</p>
<table style="width:100%">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
"""))